VITE_SUPABASE_URL=https://kdrgxnooesttppyhkoin.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtkcmd4bm9vZXN0dHBweWhrb2luIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2NzQ3MjIsImV4cCI6MjA5ODI1MDcyMn0.g7asmjmArz5xKoUN0X2uGLRBQOcx0nKvdNMBSQPuK5U
